// Colors

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
$dark-blue: hsl(198, 62%, 26%); /* photography text */
$dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
$light-cyan: hsl(167, 44%, 70%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Sizing

$sz-100: em(20);
$sz-200: em(26);
$sz-300: em(28);
$sz-400: em(32);
$sz-450: em(45);
$sz-500: em(62);
$sz-600: em(70);
$sz-700: em(82);
$sz-800: em(100);
$sz-850: em(150);
$sz-900: em(385);

// Typography

$ff-body: 'Barlow', sans-serif;
$ff-headings: 'Fraunces', serif;

$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$text-dark: $very-dark-desaturated-blue;
$text-soft-dark: $very-dark-grayish-blue;
$text-medium: $dark-grayish-blue;
$text-light: $grayish-blue;
$text-white: $white;

:root {
    --fs-small: 0.875rem;
    --fs-normal: 1rem;
    --fs-body: 1.125rem;
    --fs-big: 1.75rem;
    --fs-headings: 2.0625rem;
    --fs-title: 2.625rem;
}